body {
    box-sizing: border-box;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: sans-serif;
    line-height: 150%;
}
 
/* Containers */

.container {
    width: 60% ;
    height: 90vh ;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 2%;
}

.subcontainer {
    width: 80%;
    height: 70%;
    position: absolute;
    left: 50%;
    top:10%;
    transform: translate(-50%);
}

/* Logo e testo */

.logobox {
    position: relative;
    bottom: 1%;
}

.logo {
    width: 250px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.logotext {
    color: chartreuse;
    text-align: center;
    letter-spacing: 1px;
}

/* Linea bottoni */

button {
    color: black;
    position: relative;
    display: inline-block;
    
}

.btncont {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 1% 0%; 
}

.buttonline {
    background-color: chartreuse;
    height: 40px;
}

/* Lista scooter / Volutamente <ul> */

ul {
    list-style: none;
    padding-left: 0%;
}

.scooname{
    color: white;
    display: inline;
    margin-left: 2px;
}

.item {
    margin: 2% 0%;
}

.item >*, button, .btncont {
    white-space: nowrap;
    word-break: keep-all;
}

.gps:before {
    content: "↦ " ;
}

/* Stato carica */

.ch-bar {
    height: 30px;
    border-radius: 8px;
}

.gino {
    width: 40%;
    background-color: orange;
}

.mike {
    width: 60%;
    background-color: green;
}

.fede {
    width: 20%;
    background-color: red;
}







